<div class="container">
  <div class="row">

    <div class="col-4">
    </div>

    <div class="col-4">

      <h2>Edit skill</h2>

      <%= form_for @skill do |f| %>
        <div class="field">
          <%= f.label :iconName %><br />
          <%= f.text_field :iconName, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :text %><br />
          <%= f.text_field :text,  autofocus: true %>
        </div>

        <div class="field">
          <%= f.check_box :activate %>
          <%= f.label :activate %>
        </div>

        <div class="field">
          <%= f.label :icon, "Upload other picture" %><br />
          <%= f.file_field :icon %>
        </div>

        <div class="actions">
          <%= f.submit "Send" %>
        </div>

      <% end %>

    </div>

    <div class="col-4">
    </div>
  </div>
</div>

