<section id="bio" style="background-image: linear-gradient(rgba(10, 3, 130,0.25), rgba(10, 3, 130, 0.85)), url(<%= image_path ('banner.jpg') %>)">
  <div class="container">
    <% bioElt = {
            netflix: { title: 'Assistant costumier', content: "Sur la série Netflix 3%, j’étais en charge, auprès du costumier designer Cassio Brasil, de la conception de silhouettes, de la transformation de vêtements, et des essayages avec les acteurs.", link: 'padNetflix.svg'},
            mar: { title: 'Costumier designer', content: "J’ai conçu et suivi la réalisation de scénographies et costumes pour le spectacle, pour notamment : le Théâtre National de la Colline, Théâtre du Vieux-Colombier, Nanterre-Amandiers, Théâtre National de Bourgogne, Théâtre des Quartiers d’Ivry.", link: 'padMar.svg'},
            RBI: { title: 'Façade designer', content: "Sous la responsabilité du directeur de création, j’étais chargé de la mise aux normes de la charte graphique des façades des 250 magasins du réseau worldwide.
J’ai organisé la collecte des documents, réalisé les préconisations adaptées pour chaque façade, sous forme de plans et visuels, et suivi leur bonne réalisation jusqu’à la réception des travaux.", link: 'padRBI.svg'},
            Nanterre: { title: 'Scénographe', content: "J’ai conçu et suivi la réalisation de scénographies et costumes pour le spectacle, pour notamment : le Théâtre National de la Colline, Théâtre du Vieux-Colombier, Nanterre-Amandiers, Théâtre National de Bourgogne, Théâtre des Quartiers d’Ivry.", link: 'padNanterre.svg'},
            Hermes: { title: 'Chargé de production', content: "J’étais notamment responsable de la coordination de la production et du stock de l’atelier. Notamment pour Hermès, j’ai imaginé et mis en oeuvre des solutions uniques et qualitatives pour la réalisation des éléments scénographiques des vitrines de Noël du flagship.", link: 'padHermes.svg'},
            Colline: { title: 'Scénographe & Costumier', content: "J’ai conçu et suivi la réalisation de scénographies et costumes pour le spectacle, pour notamment : le Théâtre National de la Colline, Théâtre du Vieux-Colombier, Nanterre-Amandiers, Théâtre National de Bourgogne, Théâtre des Quartiers d’Ivry.", link: 'padColline.svg'},
            Harrods: { title: 'Scénographe', content: "J’ai créé un concept pour des vitrines RBI chez Harrod’s, London.", link: 'padHarrods.svg'},
            Colombier: { title: 'Scénographe', content: "J’ai conçu et suivi la réalisation de scénographies et costumes pour le spectacle, pour notamment : le Théâtre National de la Colline, Théâtre du Vieux-Colombier, Nanterre-Amandiers, Théâtre National de Bourgogne, Théâtre des Quartiers d’Ivry.", link: 'padColombier.svg'}
     } %>
    <h1>Bio</h1>
    <p>Riche d’un parcours dans les arts-appliqués, j’ai professionnalisé mes compétences en développement web. Je souhaite mettre à profit de nombreuses skills acquises dans la conception de produits et de solutions sur-mesure : adaptabilité à l’exigence client, gestion d’équipe hyper réactive, méthodes orientées résultat, autonomie et exigence qualitative, qui s’apparentent au mode de travail agile. Voici quelques missions réalisées pour des clients prestigieux.</p>
    <div class="bio_cards">
      <%= render 'bio_card', bioElt[:netflix]  %>

      <%= render 'bio_card', bioElt[:mar]  %>
      <%= render 'bio_card', bioElt[:RBI]  %>

      <%= render 'bio_card', bioElt[:Nanterre]  %>
      <%= render 'bio_card', bioElt[:Hermes]  %>
      <%= render 'bio_card', bioElt[:Colline]  %>

      <%= render 'bio_card', bioElt[:Harrods]  %>
      <%= render 'bio_card', bioElt[:Colombier]  %>
  </div>

  </div>
</section>
