<section id="bio" style="background-image: linear-gradient(rgba(10, 3, 130,0.25), rgba(10, 3, 130, 0.85)), url(<%= image_path ('banner.jpg') %>)">
  <div class="container">
    <% bioElt = {
            netflix: { title: 'Assistant-costumier', content: "Sur la série Netflix 3%, j’étais en charge, auprès du designer Cassio Brasil, de la conception de silhouettes, de la transformation de vêtements, et des essayages avec les acteurs.", link: 'padNetflix.svg'},
            mar: { title: 'Costumier designer', content: "J’ai créé les costumes pour le spectacle Zona de lançamento, produit et accueilli par le Museu de Arte do Rio de Janeiro.", link: 'padMar.svg'},
            RBI: { title: 'Façade designer', content: "J’étais chargé de la mise aux normes de la charte graphique des façades des 250 magasins du réseau worldwide.
J’ai proposé une méthode, réalisé les préconisations sur-mesure, et suivi leur bonne réalisation.", link: 'padRBI.svg'},
            Nanterre: { title: 'Scénographe', content: "J’ai conçu des scénographies et costumes pour divers théâtres nationaux : le Théâtre National de la Colline, Théâtre du Vieux-Colombier, Nanterre-Amandiers, Théâtre National de Bourgogne, Théâtre des Quartiers d’Ivry...", link: 'padNanterre.svg'},
            Hermes: { title: 'Chargé de production', content: "Au sein de l'atelier Caraco, j’ai imaginé et mis en oeuvre des solutions uniques pour la réalisation d'éléments scénographiques des vitrines de Noël du flagship Hermès.", link: 'padHermes.svg'},
            Colline: { title: 'Scénographe', content: "J’ai conçu des scénographies et costumes pour divers théâtres nationaux : le Théâtre National de la Colline, Théâtre du Vieux-Colombier, Nanterre-Amandiers, Théâtre National de Bourgogne, Théâtre des Quartiers d’Ivry...", link: 'padColline.svg'},
            Harrods: { title: 'Scénographe', content: "J’ai créé pour Roche-Bobois International, des vitrines au magasin Harrod’s, London.", link: 'padHarrods.svg'},
            Colombier: { title: 'Scénographe', content: "J’ai conçu des scénographies et costumes pour divers théâtres nationaux : le Théâtre National de la Colline, Théâtre du Vieux-Colombier, Nanterre-Amandiers, Théâtre National de Bourgogne, Théâtre des Quartiers d’Ivry...", link: 'padColombier.svg'}
     } %>
    <h1>Bio</h1>
    <p>Pendant 20 ans j'ai exercé comme designer d'espaces et de costumes. J'ai conçu et développé des projets pour des clients prestigieux, avec le souci d'une prestation sur-mesure et qualitative, touchant un large public. Voici quelques clients qui m'ont fait confiance.</p>
    <div class="bio_cards">
      <%= render 'bio_card', bioElt[:netflix]  %>

      <%= render 'bio_card', bioElt[:mar]  %>
      <%= render 'bio_card', bioElt[:RBI]  %>

      <%= render 'bio_card', bioElt[:Nanterre]  %>
      <%= render 'bio_card', bioElt[:Hermes]  %>
      <%= render 'bio_card', bioElt[:Colline]  %>

      <%= render 'bio_card', bioElt[:Harrods]  %>
      <%= render 'bio_card', bioElt[:Colombier]  %>
  </div>

  </div>
</section>
