<section id="contact">
  <div class="container">
    <h1>Contact</h1>
    <%= simple_form_for @message do |f| %>
      <%= f.input :name, as: :string %>
      <%= f.input :from, as: :string %>
      <%= f.text_field :object %>
      <%= f.text_field :content %>
      <%= f.input :submit %>
    <% end %>
  </div>
</section>
