<!-- obsolete / inutilisé -->
<div class="portfolio_card">
    <%= image_tag(project[:image], class:"screenshot") %>
    <div class="info">
    <h1>
      <%= project[:title] %>
    </h1>
    <p><%= project[:paragraph] %></p>
      <div class="icons">
        <% project[:icons].each do |icon| %>
        <%= image_tag("iconsNew/#{icon}.svg", width: '40')  %>
        <% end %>
      </div>
    <%= link_to project[:link], target: 'blank', class: 'button' do %>
    to Website
    <% end %>

  </div>
</div>
