<!-- Obsolete à confirmer -->

<div class="dev_project_card">
  <div>
    <%= image_tag(link, width: '100%') %>
 </div>
  <div class="dev_project_card_infos">
    <h4><%= title %></h4>
    <p><%= content %></p>
  </div>
</div>
<div class="icons">
  <%= image_tag('icons/HTML.svg', width: 50)  %>
  <%= image_tag('icons/CSS.svg', width: 50)  %>
  <%= image_tag('icons/JS.svg', width: 50)  %>
</div>

