<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

    <%= render 'banner' %>
    <%= render 'nav' %>
    <%= render 'skills' %>
    <%= render 'portfolio' %>
    <%= render 'bio' %>
    <%= render 'contact' %>
    <%= render 'footer' %>

</body>
</html>
