<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
</head>
<body>

    <%= render 'banner' %>
    <%= render 'nav' %>
    <%= render 'skills' %>
    <%= render 'portfolio' %>
    <%= render 'bio' %>
    <%#= render 'contact' %>
    <%= render 'footer' %>

</body>
</html>
