<div class="container">
  <div class="row">

    <div class="col-4">
    </div>

    <div class="col-4">

      <h2>Edit project</h2>

      <%= form_for @project do |f| %>
        <div class="field">
          <%= f.label :title %><br />
          <%= f.text_field :title, autofocus: true, size:'30' %>
        </div>

        <div class="field">
          <%= f.label :paragraph %><br />
          <%= f.text_area :paragraph, autofocus: true, size:'30x9', maxlength: 250 %>
        </div>

        <div class="field">
          <%= f.label :link %><br />
          <%= f.text_field :link, autofocus: true, size:'30' %>
        </div>

        <div class="field">
          <%= f.label :bckgdimage, "Upload background picture" %><br />
          <%= f.file_field :bckgdimage %>
        </div>

    <!--     <div class="field">
          <%#= f.label :icon, "Upload skill icons" %><br />
          <%#= f.file_field :icon, multiple: true %>
        </div> -->

        <div class="actions">
          <%= f.submit "Send", method: :patch %>
        </div>

      <% end %>

    </div>

    <div class="col-4">
    </div>
  </div>
</div>
